@media only screen and (max-width: 600px){
    .menu__center
    {
        display: none;
              
    }
  }  
 
  @media only screen and (max-width: 600px){
    .iconfb,
    .menu__setting
    {
        margin-top: 10px;             
    }
  } 
  @media only screen and (max-width: 600px){
    .coverimage
    {
      height: 400px;
              
    }
  } 
  @media only screen and (max-width: 600px){
    .Avater__img
    {
    margin-left: 150px;
              
    }
  } 
  @media only screen and (max-width: 600px){
    .text__youself h1
    {
  font-size: 17px;
              
    }
  } 
  @media only screen and (max-width: 600px){
    .friend__smaill-list li
    {
  font-size: 14px;
              
    }
  }
  @media only screen and (max-width: 600px){
    .menu__bottom-list-itemss
    {
    display: none;     
    
    }
  } 

  @media only screen and (max-width: 600px){
    .my__search{
     
    width: 410px;
    }
  } 

  @media only screen and (max-width: 600px){
   .cover,
   .post,
   .content__of-my
    {
    width: 458px;
    }
  } 

 @media only screen and (max-width: 600px){
    .btn__video-online-button 
     {
    display: none;
     }
   } 