body{
  top: 0;
  padding: 0;
  margin: 0;
  background-color: var(--menu-color);
}
:root{
    --menu-color:#242526;
    --color-content:#303;
    --color-all:#1c1e21;
    --color-span:#696969;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.menu__navbar
{
    background-color:#101010;
    padding: 0px 0;
    height: 56px;
  
}

   .banner
   {
      display: flex;
      justify-content: space-between;
    z-index: 1;
    }

   .iconfb
   {
    flex-basis: 25%;
    display: flex;
   }

      .menu__center-navbar
      {
        display: flex;
        padding: 10 20px;
        color: #1c1e21;
        align-items: center;
      }

      .menu__center-navbar-item-iconfb{
        padding-right: 10px;
    }   
/* .menu__center-navbar-icon--none{
    display: none;
} */
    .icon__width-boder{
        width: 100%;
        border-radius: 50px;
        color: #606770;
        background-color: #e4e6eb;
        position: relative;
        height: 40px;
        margin-top: -3px;
         
     }
     .icon{
        display: flex;
        font-family: Segoe UI Historic;
        font-size: 15px;
        font-weight: 600;
        line-height: 16.08px;
        height: 35px;
        
    }
    .icon__width-search{
        width: 18px;
        line-height: 14px;
        padding-top: 10px;
        margin-left: 10px;
        margin-top: 3px;
    }
    .search{
        border: none;
        outline:none;
        width: 100%;
        border-radius: 50px;
        background-color: #e4e6eb;
        height: 40px;
        margin-top: 0px;
    }

 .menu__center{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    opacity: 1;
    cursor: pointer;
   
 }
 
.menu__center-navbar-item:hover {
   opacity: 0.5;
   background-color: #242526;
}

.menu__center-navbar-item{
 padding: 0 50px;
 width: 150px;
 line-height: 16px;
 height: 56px;
 display: flex;
 align-items: center;
}
 
.icon__width{
    font-size: 30px;
    background-color: #ffffff;
    border-radius: 50%;
}
.menu__setting{
    flex-basis: 25%;
    
    display: flex;
    float: right;
    opacity: 1;
}
.menu__center-navbar-setting{
   padding: 0 7px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius:20px ;
    background-color: #e4e6eb;
    margin-right: 10px;
}

.menu__center-navbar-setting-img{
    background-color: #7B68EE;
    border-radius: 18px;
    display: flex; 
    width: 75px ;
    height: 30px;
    font-size: 12px;
   /* justify-content: center; */
   align-items: center;
   justify-content: center; 
}
@media only screen and (max-width: 600px){
    .menu__center-navbar-setting-img
    {
        display: none;      
    }
  }
  .menu__center-navbar-setting:hover{
    color: #242526;
    opacity: 0.5;
  }
  .color__white{
  
  width: 25px;
  height: 25px;
  }
.text-img{
    border-radius: 50px;
    font-size: 12px;
    display: inline;
    /* margin-left: -40px; */ 
}
.menu__center-navbar-setting-img-text{
    color: #385898;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    margin-left: 10px;
}
.coverimage{
    width: 100%;
    height: 700px;
    position: relative;
    
}
.coverimage img{
position: absolute;
top: -200px;
z-index: -1;
height: 100%;
width: 100%;
}

.box__Avatar{
    width: 100%;
    height: 142px;
    display: flex;
    /* background-color:red; */
    position: relative;
    margin-top: -200px;
    border-bottom:1px solid #484848;
}
.Avater__img{
    width: 168px;
    height: 168px;
    margin-top: -40px;
}
.Avater__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #242526;
}
.Avatar{
    display: flex;}

.friend__small{
    display: block;
    width: 610px;
    height: 130px;
    margin: 32px 0 16px;
    margin-top: 4px;
}
.friend__small h1{
 color:#e4e6eb;
font-family:Segoe UI Historic;
font-size:32px;
font-weight:700;
line-height:38px;
text-align:left;
}
.friend__small p{
 color:#b0b3b8;
display:inline;
font-family:Segoe UI Historic;
font-size:17px;
font-weight:600;
line-height:20.0005px;
}
.friend__smail-icon{
    display: inline;

}
.friend__smail-icon img{
    display: inline;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -10px;

   
}
.friend__smaill-list{
    margin-left: -40px;
    width: 180px;
    display: flex;
    padding-top: 5px;
}
.friends__made-friends{
    display: flex;
    justify-content: space-between;
    width: 900px;
   
}
.setting__btn{
    margin-left: 20px;
    display: flex;
    width: 400px;

}
.btn__add-information button{
    width: 150px;
    height: 36px;
    border-radius: 6px;
    padding: 0 12px;
    border: none;
    font-weight: 700;
}
.btn__edit-personal{
    width: 211px;
    height: 36px;
    background-color:var(--color-all);
    border-radius: 6px;
    color:#1c1e21;
    justify-content: center;
    display: flex;
    align-items: center;

}
.btn__edit-personal button{
    border: none;
     align-items: center;
    background-color: none;
    outline: none;
    display: flex;
    background-color:#1c1e21;
    color: #ffffff;
    font-weight: 700;
    opacity: 1;
   
}
.btn__edit-personal:hover button{
    opacity: 0.3;
}


.menu__bottom{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
   opacity: 1;
   

}
.menu__bottom-list{
    display: flex;
    align-items: center;
    opacity: 1;

}
.menu__bottom-list-items{
    align-items: center;
    display: flex;
    width: 98px;
    height: 60px;

    margin-top: 16px;
     color: #b0b3b8;
    font-size:15px;
    font-weight:600;
    cursor: pointer; 
}
.menu__bottom-list-items:hover {
    opacity: 0.5;
    background-color: #242526;
}

/* Body__personal */

.body__personal{
    width: 100%;
    height: 100%;
    background-color: rgb(16,16,16);
}
.coll__width-left{
    /* background-color:var(--color-all); */
    width: 100%;
   
}
.coll__width-left-introduct{
    background-color: var(--color-all);
   /* width: 100%; */
    border-radius: 6px;
    height: 900px;
  
}
.introduct{
    width: 360px;
    height: 60px;
    font-size: 15px;
    color:#e4e6eb;
    overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 18px;
  margin: 0 10px;
  
}

.introduct:hover {
    overflow: none;
  }
.edit__personal{
background-color:var(--color-span);
 margin-top: 10px;  
border-radius:6px;
color:#1c1e21;
display:flex;
font-size:12px;
justify-content:center;
line-height:16.08px;
padding:10px 12px;
height: 36px;
opacity: 2;
margin: 0 10px;
}
.edit__personal:hover{
    opacity: 0.7;
}
.edit__personal p{
    
    color:#e4e6eb;
    font-size:14px;
    font-weight: 600;
    line-height: 17px;
    align-items: center;
    display: flex;
    margin: auto;
  
}
.edit__personak-text p{
    color:#e4e6eb;
    font-size:15px;
    line-height:19.9995px;
    text-align:left;
    margin-top: 15px;
    margin: 0 10px;
    padding: 10px 0;
}
.edit__detail{
    background-color:var(--color-span);
 margin-top: 10px;  
border-radius:6px;
color:#1c1e21;
display:flex;
font-size:12px;
justify-content:center;
line-height:16.08px;
padding:10px 12px;
height: 36px;
opacity: 2;
margin: 0 10px;
}
.edit__attention p{
   margin: 4px;
}
.edit__detail:hover{
    opacity: 0.7;
}
.edit__detail p{
    color:#e4e6eb;
    font-size:14px;
    font-weight: 600;
    line-height: 17px;
    align-items: center;
    display: flex;
}
.Add__interest{
 background-color:var(--color-span);
 margin-top: 20px;  
border-radius:6px;
color:#1c1e21;
display:flex;
font-size:12px;
justify-content:center;
line-height:16.08px;
padding:10px 12px;
height: 36px;
opacity: 2;
margin: 20px 10px;
}
.Add__interest:hover{
    opacity: 0.7;
}
.Add__interest p{
    color:#e4e6eb;
    font-size:14px;
    font-weight: 600;
    line-height: 17px;
    align-items: center;
    display: flex;
    margin: auto;
}

/* carousel */
.carousel{
    height: 304px;
    display: flex;  
    align-items: center;
    margin: 10 10px;
}
.carousel-item img{
    border-radius: 6px;
}
.all__img-you{
    background-color: var(--color-all);
    border-radius: 6px;
    
}
.all__img{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  
}
.img__you p{
color:#e4e6eb;
font-family:Segoe UI Historic;
font-size:20px;
font-weight:700;
margin: 10px 10px;


}
.seen__all-you{
  /* text-decoration: none;   */
font-family:Segoe UI Historic;
font-size:17px;
font-weight:500;
margin: 10px 10px;

}
.seen__all-you p{
    text-decoration: none;
    
    align-items: center;
    width: 150px;
       height: 40px;
       text-align: center;

}
.seen__all-you:hover p{
    background-color:#e4e6eb;
}
.display__img{
    max-width: 400px;
}
.display__name{
    display: flex;
   
   
}
.display__img-my{
    margin: 0 5px 10px 10px;
}
/* right */
.col__width-right{
    width: 602px; 
}
.cover{
    height: 123px;
    background-color:var(--color-all); 
   border-radius: 6px;
    
}
.col__width-right--my{
    display: flex;
    margin-top: 10px; 
}
.my__profile{
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color:var(--color-all); 
  
}
.my__profile img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.my__search{
    width: 100%;
    margin-right: 5px;
    margin-top: 5px;
}
.my__search input{
    width: 100%;
    border-radius: 10px;
    height: 40px;
    color:#b0b3b8;
    font-size:17px;
    line-height:22.78px;
     outline: none;
    border: none;
}

.my__search--inpuy-color input{
    background-color:var(--color-span);
    color: #ffff;
}

.functions__my{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-top: var(--color-boder);
    opacity: 1;
    border-top:1px solid #484848;
    
}
.btn__video-online{
    width: 186px;
    height: 40px;
    border: none;
    background-color: #1c1e21;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    opacity: 1;
}

.btn__video-online button{
    background-color: #1c1e21;
    width: 100%;
    height: 100%;
    border: none;
    color:#b0b3b8;
    
}
.btn__video-online:hover{
   opacity: 0.6;
   background-color: #101010;
}
.col__width-right--my{
    margin-top: 10px;
}

.post{
    margin-top: 20px;
    background-color:var(--color-all); 
    border-radius: 6px;
   
}

.post__of--my{
    display: flex;
    padding: 10px 0 0;
    justify-content: space-between;
    width: 100%;
    height: 64px;
     border-bottom:1px solid #484848;
}
.post__you p {
margin-top: 5px;
margin-left: 5px;
color:#e4e6eb;
font-size:20px;
font-weight:700;
line-height:24px;
text-align: center;




}
.manager__post{
    display: flex;
}
.manager__post--btn{
    padding: 0 10px;
    

}
.manager__post-filter button
{
    width:88px;
    height: 36px;
}
.manager__post--you button{
width: 152px;
height: 36px;
}
.manager__post--btn button{
  border-radius: 6px;
  color:#e4e6eb;
  border: none;
font-size:15px;
font-weight:600;
line-height:19.9995px;
background-color: var(--color-span);
opacity: 1;
}
.manager__post--btn:hover button{
    opacity: 0.6;
}
.view__by-list{
    justify-content: space-between;
    display: flex;
}
.view__by-list-post{
width: 324px;
height: 40px;
}
.view__by-list-post button{
    width: 98%;
    height: 96%;
    border-bottom: #385898;
    background-color:var(--color-all); 
    border: none;
    outline: none;
    color:#b0b3b8;
    font-size:15px;
       font-weight:600;
       z-index: 1;
}
.type__seen {
    width: 324px;
    height: 40px;
  
}
.type__seen button{
    width: 98%;
    height: 97%;
    background-color:var(--color-all); 
      border: none;
      outline: none;
      color:#b0b3b8;
      font-size:15px;
         font-weight:600;
   
}
.view__by-list-post:hover button{
     
   background-color: var(--menu-color);
   color: #385898;
   border-bottom: 2px solid #385898;
     
}
.type__seen:hover button{
    background-color: var(--menu-color);
    color: #385898;
    border-bottom: 2px solid #385898;
}

/* nội dung bạn đăng */

.content__of-my{
    height: 630px;
    background-color: var(--color-all);
    border-radius: 6px;
}
.update__content{
  
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
 
}

.update__content-content{
  margin-top: 10px;
   display: flex;

}
.three__dots{
    margin-top: 10px;
}
.img__myself img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.name__of-poster-name p{
    color:#b0b3b8 ;
    font-size: 14px;
    font-weight: 600;
}
.dateofyear p{
    margin-top: -20px;
    font-size: 12px;
    font-weight: 300;
}
.emotion{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid #b0b3b8;
    margin-right: 10px;
}
.emotion__icon{
    width: 70px;
   
}
.emotion img{
    height: 20px;
    width: 20px;
    
}
.comment {
    color:#b0b3b8 ;
    font-size: 17px;
} 

.choose__feeling{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.feel__like{
    color:#b0b3b8;
    width: 200px;
    height: 40px;  
}
.feel__like  { 
    justify-content: center;
    display: flex;
    align-self: center;
     padding: 8px 0;
   
}
.feel__like:hover{
background-color:#585858;
border-radius: 10px;
}

