body{
  top: 0;
  padding: 0;
  margin: 0;
  background-color: var(--menu-color);
}
:root{
    --menu-color:#242526;
    --color-content:#303;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.menu__navbar
{
    background-color: #cccc;
    padding: 10px 0;
    height: 56px;
  
}

   .banner
   {
      display: flex;
      justify-content: space-between;
    z-index: 1;
    }

   .iconfb
   {
    flex-basis: 25%;
    display: flex;
   }

      .menu__center-navbar
      {
        display: flex;
        padding: 10 20px;
        color: #1c1e21;
        align-items: center;
      }

      .menu__center-navbar-item-iconfb{
        padding-right: 10px;
    }   
/* .menu__center-navbar-icon--none{
    display: none;
} */
    .icon__width-boder{
        width: 100%;
        border-radius: 50px;
        color: #606770;
        background-color: #e4e6eb;
        position: relative;
        height: 40px;
        margin-top: -3px;
         
     }
     .icon{
        display: flex;
        font-family: Segoe UI Historic;
        font-size: 15px;
        font-weight: 600;
        line-height: 16.08px;
        height: 35px;
        
    }
    .icon__width-search{
        width: 18px;
        line-height: 14px;
        padding-top: 10px;
        margin-left: 10px;
        margin-top: 3px;
    }
    .search{
        border: none;
        outline:none;
        width: 100%;
        border-radius: 50px;
        background-color: #e4e6eb;
        height: 40px;
        margin-top: 0px;
    }

 .menu__center{
    flex-basis: 50%;
    
   
 }

.menu__center-navbar-item{
 padding: 0 50px;
}
 
.icon__width{
    font-size: 30px;
    background-color: #ffffff;
    border-radius: 50%;
}
.menu__setting{
    flex-basis: 25%;
    
    display: flex;
    float: right;
}
.menu__center-navbar-setting{
    padding-left: 30px;
    border-radius: 50px;
   
}
.menu__center-navbar-setting-img{
    background-color: #2d88ff;
    border-radius: 18px;
    display: flex;
    
    width: 75px ;
    height: 36px;
    font-size: 12px;
   /* justify-content: center; */
   align-items: center;
   justify-content: center;
  
   
}
.text-img{
    border-radius: 50px;
    font-size: 12px;
    display: inline;
    margin-left: -40px;
    
}
.menu__center-navbar-setting-img-text{
    color: #385898;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    margin-left: 10px;
}
@media screen and(max-width:600px) {
    .menu__center-navbar{
        display: none;
    }  
  }

.coverimage{
    width: 100%;
    height: 700px;
    position: relative;
    
}
.coverimage img{
position: absolute;
top: -200px;
z-index: -1;
height: 100%;
width: 100%;
}

.box__Avatar{
    width: 1031px;
    height: 142px;
    display: flex;
    /* background-color:red; */
    position: relative;
    margin-top: -200px;
}
.Avater__img{
    width: 168px;
    height: 168px;
    margin-top: -40px;
}
.Avater__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.Avatar{
    display: flex;}

.friend__small{
    display: block;
    width: 455px;
    height: 130px;
    margin: 32px 0 16px;
    margin-top: 4px;
}
.friend__small h1{
    color:#e4e6eb;
font-family:Segoe UI Historic;
font-size:32px;
font-weight:700;
line-height:38px;
text-align:left;
}
.friend__small p{
 color:#b0b3b8;
display:inline;
font-family:Segoe UI Historic;
font-size:17px;
font-weight:600;
line-height:20.0005px;
}
.friend__smail-icon{
    display: inline;

}
.friend__smail-icon img{
    display: inline;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    align-items: flex-start;
    flex-direction: column;
   
}
.friend__smaill-list{
    margin-left: -40px;
}