
.edit-img{
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}   
.img_cover{
    width: 100%;
    position: relative;
}
.header_box{
    margin: 0 auto;
    width: 68%;
}
.editPhoto{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px 20px;
    border-radius: 5px;
}
.text_photo{
    padding: 5px;
}
.header_name{
   position: relative;
   top: -5%;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding-bottom: 10px;
   margin: 0 20px;
   border-bottom: 1px solid rgb(225, 211, 211);
}
.infor{
    display: flex;
    align-items: flex-end;
}
.avt{
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    
}
.infor_avt{
    position: relative;
}
.icon{
    position: absolute;
    background-color: rgb(227, 231, 236);
    border-radius: 50%;
    right: 0;
    top: 70%;
}
.icon_camera{
    padding: 10px;
}
.infor_name{
    margin-left: 10px;
}
.name{
    font-size: 40px;
    font-weight: 650;
    color: black;
    font-family: inherit;
}
.friend{
    font-size: 17px;
    color: rgb(168, 167, 162);
}
.story > button {
    margin-bottom: 20px;
    margin: 0px 5px 20px 5px;
}
.story_text{
    margin: 0 5px;
}
.header_navbar{
    position: relative;
    top: -5%;
}
.focus_nav:focus{
    color: blue;
    border-bottom: 2px solid blue;
}
.dots{
    background-color: rgb(229, 219, 219);
    padding: 10px 20px;
    border-radius: 5px;
}
.avt_listfriend{
    width: 35px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin-right: -12px;
}
.box_container{
    margin: 0 auto;
}
.edit_introduce{
   border: none;
   width: 100%;
   border-radius: 5px;
   margin: 8px 5px;
   font-size: 18px;
   color: black;
}
.box-container{
    margin-top: 20px;
    display: flex;
    width: 65%;
}
.container_introduce{
    border-radius: 15px;
    width: 32%;
}
.title{
    padding-top: 10px;
    padding-left: 5px;
}
.profile{
    margin: 10px 0;
    font-weight: 300;
}
div > i {
    margin-right: 5px;
}
.text_school{
    color: black;
    font-weight: 600;
}
.container_news_heading{
    border-radius: 15px;
    height: 130px;
    width: 100%;
}
.status{
    background-color: rgb(239, 239, 239);
    border: none;
    margin-left: 20px;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}
.news_heading{
    display: flex;
    padding: 15px 5px 15px 5px;
    border-bottom: 1px solid rgb(192, 188, 188);
}
.new_function{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.news_icon1{
    margin-right: 8px;
    color: red;
}
.news_icon2{
    margin-right: 8px;
    color: green;
}
.news_icon3{
    margin-right: 8px;
    color: blue;
}
.posts{
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(239, 235, 235);
}
.container_posts{
    padding: 10px 15px 10px 15px;
}
.button_container_posts{
    padding: 10px 15px 10px 15px;
}
.button_posts_text{
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 7px;
}
.post_icon{
    margin-right: 10px;
}
.text_container_posts{
    display: flex;
    align-items: center;
}
.function_posts{
    display: flex;
    padding: 10px 0;
}
.button_fuction_posts{
    width: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_fuction_posts:focus{
    color: blue;
    outline: none;
}
.text_news{
    color: rgb(149, 145, 145);
    margin-top: 20px;
}
.img_posts_first{
    width: 100%;
}
.box_posts{
    border-radius:  10px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title_left{
    display: flex;
    margin-left: 5px;
}
.title_left_img{
    margin-top: 5px;
}
.div_user_name{
    margin-left: 20px;
}
.user_name{
    margin-bottom: 0;
    font-weight: 500;
}
.date_posts{
    font-size: 13px;
    color: rgb(151, 139, 139);
}
.title_icon{
    margin: 10px 10px;
}
.div_cap{
    margin-left: 10px;
}
.footer_posts{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.icon_posts{
    display: flex;
    margin-left: 10px;
}
.icon_posts_like{
    color: blue;
    margin-top: 4px;
    font-size: 20px;
    margin-right: -5px;
    z-index: 2;
}
.icon_posts_heart{
    color: red;
    margin-top: 4px;
    font-size: 20px;
}
.icon_posts_smile{
    color: rgb(244, 195, 32);
    margin-top: 4px;
    font-size: 20px;
    margin-right: -5px;
    z-index: 1;
}
.count_comment{
    margin-right: 10px;
}

.user_status{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(229, 215, 215);
    border-bottom: 1px solid rgb(229, 215, 215);
}
.icon_user_status{
    display: flex;
    align-items: center;
}
.comment_posts{
    display: flex;
    align-items: center;
}
.share_posts{
    display: flex;
    align-items: center;
}
.text_share_posts {
    margin-bottom: 0;
    font-size: 18px;
}
.select_posts{
    float: right;
    margin: 10px 10px;
}
.commentOfFriends{
    display: flex;
    margin-top:  30px;
    margin-left: 10px;
}
.comment_friends{
    margin-left: 20px;
}
.box_comment{
    padding: 5px 10px ;
    background-color: rgb(231, 230, 230);
    border-radius: 20px;
}
.feedback_comment{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    font-weight: 500;
    color: gray;
}
.box_comment > p{
    margin-bottom: 0;
}
.box_write{
    display: flex;

}
.feedback_comment > p{
    margin-bottom: 0;
}
/* navbar */
.container {
    width: 100%;
    display: block;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .center {
    display: flex;
    align-items: center;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-col {
    flex-direction: column;
  }
  .tab-container {
    padding: 0 20px;
    border-radius: 8px;
  }
  
  .tab {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .tab:hover {
    background-color: #e9e9e9;
    transition: color 0.3s ease-in-out;
    border-radius: 4px;
  }
  
  .tab.active {
    color: #1e5ac8;
  }
  /* grid image */
  .img{
    display: flex;
    flex-wrap: wrap;
  }
  .image{
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
  }
  .box-image{
    width: 30%;
    margin: 5px 5px;
  }
  .text-image{
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
  }
  .icon-img{
    margin-top: 100px;
    margin-left: 5px;
    font-size: 18px;
  }
  .grid_image{
    margin-top: 20px;
  }
  .image_grid{
    object-fit: cover;
  }
  .group-image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  .header_grid{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  .seeAllPhotos{
    border: none;
    color: rgb(127, 127, 242);
  }
  /* reponsive */
  @media (min-width: 820px) and (max-width:1180px){
    .header{
        width: 100%;
    }
    .header_box{
        width: 100%;
    }
    .header_name {
       display: block;
       top: -13%;
    }
    .infor{
        display: block;
    }
    .infor_avt {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .icon {
        position: absolute;
        background-color: rgb(227, 231, 236);
        border-radius: 50%;
        top: 70%;
        right: 37%;
    }
    .name {
        font-size: 40px;
        font-weight: 650;
        color: black;
        font-family: inherit;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
    .friend {
        font-size: 17px;
        color: rgb(168, 167, 162);
        display: flex;
        justify-content: center;
    }
    .avt_friend{
        display: flex;
        justify-content: center;
    }
    .story{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .box-container{
        display: block;
        
    }
    .container_introduce{
        width: 100%;
    }
  }