@import 'mixins';
@import 'variables';

body {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.65;
}
a:hover {
  text-decoration: none;
}

h2 {
  @include h2-700-24px;
}
h4 {
  @include h4-700-18px;
}
// Header 
header {
  padding: 0 !important;
  margin: 0 !important;
  .top-bar {
    background: linear-gradient(90deg,#ff9c00 0%,#ff8500 100%);
    color: #fff;
    height: 36px;
    .topbar-left {
      p {
        margin: 0;
      }
    }
    
    .topbar-right {
      input {
        border: 1px solid rgba(255, 255, 255, 0.455);
        border-radius: 5px;
        background: none;
        padding: 0px 4px;
        min-width: 120px;
      }
      
      input:focus-visible {
        outline: 1px solid rgba(255, 255, 255, 0.455);
        border-radius: 5px;
      }
      ::placeholder {
        color: white;
      }
      i {
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }
  .navbar {
    background-color: $gray-f7f7f7;
    padding: 0;
    border-bottom: 1px solid $gray-ebebeb;
    .navbar-toggler {
      border: none;
    }
    .navbar-brand:hover {
      color: $color-primary-2;
    }
    .navbar-nav  .nav-link  {
      @include text-700-13 ;
      color: $color-black;
      flex-wrap: wrap;
      margin: 10px 10;
    }
    .nav-link::after {
      display: none;
    }
    .nav-item .nav-link:hover,.nav-item .nav-link:focus {
      color: $color-primary-2 ;
    }
    .button-tuyensinh {
      padding: 10px 16px !important;
      background: linear-gradient(90deg,#0A8EE6 0%,#1C48B8 100%) !important;
      border-radius: 21px;
      color: $color-white !important;
      margin-left: 20px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
    .button-tuyensinh:hover {
      color: $color-white;
    }
    .navbar-nav .dropdown-menu {
      border-top: 2px solid $color-primary-2;
      border-radius: 0;
      box-shadow: 0px 4px 4px 1px #00000033;
      padding: 0;
      top: calc(100% + 2px);
      .dropdown-item {
        padding: 0  ;
        width: 250px;
        border-bottom: 1px solid $gray-c4c4c4;
        background: none !important;
        span {
          display: block;
          padding: 10px 15px;
          line-height: 25px;
        font-size: 13px;
        }
      }
      .dropdown-item span:hover {
        animation-name: move;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        
      }
    }
  }
}

// Main 
main {
  // top 
  .container-fluid {
    background: #f5f5f5;
    padding: 20px 0 25px;
    .title-subjects, .home-train {
      @include text-800-15;
    }
    .slash::after {
      content: "/";
      color: rgb(204, 204, 204);
      padding: 0px 5px;
    }
    .home, .train {
      cursor: pointer;
      color: #000 !important;
    }
  }

  // content 
  .content {
  // Left------------------- 
    h2 {
      font-family: 'Andada Pro';
      color: $color-primary;
      margin: 10px;
      padding-bottom: 25px;
      text-align: center;
    }
    .course-title {
      h4 {
        font-family: "Andada Pro";
        margin-bottom: 8px;
      }
      p {
        margin: 0;
      }
      //Tong-quan-course  
      tr {
        border-bottom: 1px solid $gray-c4c4c4;
      }
      td {
        padding: 12px 0;
      }
      tr td:first-child {
        width: 50%;
        @include text-400-14;
      }
      tr td:last-child {
        @include text-700-14;
      }
    }
    // Course-content
    .course-content {
      .box {
        border: 1px solid $gray-c4c4c4;
        border-radius: 5px;
        a {
          background: url(../img/bgr-square-blue.png) ;
          padding: 4px 20px;
          color: $color-white;
          @include text-700-16;
          border-radius: 4px;
        }
        a:focus{
          background :url(../img/bgr-square.png) ; 
//FIXXX - 2
          border-radius: 4px 4px 0 0;
        }
        .collapse-content {
          padding: 15px 34px;
          p {
            margin-bottom: 8px;
          }
          .title {
            @include text-700-15;
            color: $color-primary;
            margin-bottom: 0;
            margin-top: 14px;
            
          }
          .number-school-days {
            @include text-700-15;
            color: $color-primary;
            margin: 5px 0 15px;
            display: block;
            font-style: italic;
          }
          .content-detail {
            h5 {
              @include text-700-14;
              font-family: "Andada Pro";
              color: $gray-333;
              margin-bottom: 0;
              margin-top: 18px;
            }
            p {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    form {
      label {
        margin-bottom: 4px;
      }
    }
  }
  .sign-up {
    background-color: $color-primary;
    opacity: 0.8;
    color: $color-white;
  }

  //Right-------------------
  .col-md-3 {
    .line {
      width: 100%;
      height: 1px;
      background-color: $color-primary-2;
      margin: 20px 0;
    }
    ul {
      li {
        margin-bottom: 30px;
        .box-img {
          width: 30%;
          height: auto;
          margin-right: 8px;
        }
        .box-content {
          width: 70%;
          p {
            margin: 0;
            cursor: pointer;
          }
          .date {
            color: $gray-c4c4c4;
            @include text-400-12;
          }
          .name-title:hover {
            color: $color-primary;
            transition: 0.2s;
          }
        }

      }
    }
  }
}

// FOOTER 
footer {
  padding: 20px 0  ;
  background-color: #107fdb;
  border-top: 6px solid #ff9a00;
  margin-top: 60px;

  .top {
    margin-bottom: 40px;
    p {
      margin: 0;
      color: $color-white;
    }
    .title {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .mid {
    color: $color-white;
    ul {
      list-style: none;
      padding: 0;
      li {
        cursor: pointer;
      }
    }
  }
  .bottom {
    color: #fff!important;
    border-top: 1px solid $color-white;
    p {
      margin: 16px 0 0;
      text-align: center;
    }
  }
}


@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px)
  }
}

@media (max-width:767) {
  .navbar > .container {
    max-width:auto !important;
  }
}

@media (max-width: 576px) { 
  .top-bar .topbar-left p{
    display: none;
  }
  #search-top {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .slash, main .train {
    display: none;
  }
  main .course-title h2, .course-content h2  {
    padding: 20px 0 0 0;
    margin-bottom: -10px !important;
  }
  main .course-title .col-md-8 {
    padding-bottom: 20px !important;
  }
}

