body {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.65;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

header {
  padding: 0 !important;
  margin: 0 !important;
}

header .top-bar {
  background: -webkit-gradient(linear, left top, right top, from(#ff9c00), to(#ff8500));
  background: linear-gradient(90deg, #ff9c00 0%, #ff8500 100%);
  color: #fff;
  height: 36px;
}

header .top-bar .topbar-left p {
  margin: 0;
}

header .top-bar .topbar-right input {
  border: 1px solid rgba(255, 255, 255, 0.455);
  border-radius: 5px;
  background: none;
  padding: 0px 4px;
  min-width: 120px;
}

header .top-bar .topbar-right input:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 0.455);
  border-radius: 5px;
}

header .top-bar .topbar-right ::-webkit-input-placeholder {
  color: white;
}

header .top-bar .topbar-right :-ms-input-placeholder {
  color: white;
}

header .top-bar .topbar-right ::-ms-input-placeholder {
  color: white;
}

header .top-bar .topbar-right ::placeholder {
  color: white;
}

header .top-bar .topbar-right i {
  cursor: pointer;
  margin-left: 10px;
}

header .navbar {
  background-color: #f7f7f7;
  padding: 0;
  border-bottom: 1px solid #ebebeb;
}

header .navbar .navbar-toggler {
  border: none;
}

header .navbar .navbar-brand:hover {
  color: #cc562b;
}

header .navbar .navbar-nav .nav-link {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  line-height: 1.65;
  color: #000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 10;
}

header .navbar .nav-link::after {
  display: none;
}

header .navbar .nav-item .nav-link:hover, header .navbar .nav-item .nav-link:focus {
  color: #cc562b;
}

header .navbar .button-tuyensinh {
  padding: 10px 16px !important;
  background: -webkit-gradient(linear, left top, right top, from(#0A8EE6), to(#1C48B8)) !important;
  background: linear-gradient(90deg, #0A8EE6 0%, #1C48B8 100%) !important;
  border-radius: 21px;
  color: #fff !important;
  margin-left: 20px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

header .navbar .button-tuyensinh:hover {
  color: #fff;
}

header .navbar .navbar-nav .dropdown-menu {
  border-top: 2px solid #cc562b;
  border-radius: 0;
  -webkit-box-shadow: 0px 4px 4px 1px #00000033;
          box-shadow: 0px 4px 4px 1px #00000033;
  padding: 0;
  top: calc(100% + 2px);
}

header .navbar .navbar-nav .dropdown-menu .dropdown-item {
  padding: 0;
  width: 250px;
  border-bottom: 1px solid #c4c4c4;
  background: none !important;
}

header .navbar .navbar-nav .dropdown-menu .dropdown-item span {
  display: block;
  padding: 10px 15px;
  line-height: 25px;
  font-size: 13px;
}

header .navbar .navbar-nav .dropdown-menu .dropdown-item span:hover {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .container-fluid {
  background: #f5f5f5;
  padding: 20px 0 25px;
}

main .container-fluid .title-subjects, main .container-fluid .home-train {
  font-family: "Andada Pro";
  font-weight: 800;
  font-size: 15px;
  line-height: 1.65;
}

main .container-fluid .slash::after {
  content: "/";
  color: #cccccc;
  padding: 0px 5px;
}

main .container-fluid .home, main .container-fluid .train {
  cursor: pointer;
  color: #000 !important;
}

main .content h2 {
  font-family: 'Andada Pro';
  color: #f04b0b;
  margin: 10px;
  padding-bottom: 25px;
  text-align: center;
}

main .content .course-title h4 {
  font-family: "Andada Pro";
  margin-bottom: 8px;
}

main .content .course-title p {
  margin: 0;
}

main .content .course-title tr {
  border-bottom: 1px solid #c4c4c4;
}

main .content .course-title td {
  padding: 12px 0;
}

main .content .course-title tr td:first-child {
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.65;
}

main .content .course-title tr td:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
}

main .content .course-content .box {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

main .content .course-content .box a {
  background: url(../img/bgr-square-blue.png);
  padding: 4px 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}

main .content .course-content .box a:focus {
  background: url(../img/bgr-square.png);
  border-radius: 4px 4px 0 0;
}

main .content .course-content .box .collapse-content {
  padding: 15px 34px;
}

main .content .course-content .box .collapse-content p {
  margin-bottom: 8px;
}

main .content .course-content .box .collapse-content .title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.65;
  color: #f04b0b;
  margin-bottom: 0;
  margin-top: 14px;
}

main .content .course-content .box .collapse-content .number-school-days {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.65;
  color: #f04b0b;
  margin: 5px 0 15px;
  display: block;
  font-style: italic;
}

main .content .course-content .box .collapse-content .content-detail h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  font-family: "Andada Pro";
  color: #333;
  margin-bottom: 0;
  margin-top: 18px;
}

main .content .course-content .box .collapse-content .content-detail p {
  margin-bottom: 10px;
}

main .content form label {
  margin-bottom: 4px;
}

main .sign-up {
  background-color: #f04b0b;
  opacity: 0.8;
  color: #fff;
}

main .col-md-3 .line {
  width: 100%;
  height: 1px;
  background-color: #cc562b;
  margin: 20px 0;
}

main .col-md-3 ul li {
  margin-bottom: 30px;
}

main .col-md-3 ul li .box-img {
  width: 30%;
  height: auto;
  margin-right: 8px;
}

main .col-md-3 ul li .box-content {
  width: 70%;
}

main .col-md-3 ul li .box-content p {
  margin: 0;
  cursor: pointer;
}

main .col-md-3 ul li .box-content .date {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.65;
}

main .col-md-3 ul li .box-content .name-title:hover {
  color: #f04b0b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer {
  padding: 20px 0;
  background-color: #107fdb;
  border-top: 6px solid #ff9a00;
  margin-top: 60px;
}

footer .top {
  margin-bottom: 40px;
}

footer .top p {
  margin: 0;
  color: #fff;
}

footer .top .title {
  font-size: 18px;
  font-weight: 700;
}

footer .mid {
  color: #fff;
}

footer .mid ul {
  list-style: none;
  padding: 0;
}

footer .mid ul li {
  cursor: pointer;
}

footer .bottom {
  color: #fff !important;
  border-top: 1px solid #fff;
}

footer .bottom p {
  margin: 16px 0 0;
  text-align: center;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@media (max-width: 767) {
  .navbar > .container {
    max-width: auto !important;
  }
}

@media (max-width: 576px) {
  .top-bar .topbar-left p {
    display: none;
  }
  #search-top {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .slash, main .train {
    display: none;
  }
  main .course-title h2, .course-content h2 {
    padding: 20px 0 0 0;
    margin-bottom: -10px !important;
  }
  main .course-title .col-md-8 {
    padding-bottom: 20px !important;
  }
}
/*# sourceMappingURL=style.css.map */