* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.center {
  justify-content: center;
  align-items: center;
}
body {
  width: 100%;
  height: 2000px;
  background-color: #e4e6eb !important;
}
.nav-container {
  box-shadow: 0px 0px 5px 0px #888888;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: #fff;
}
.fb-header {
  box-shadow: 0px 0px 5px 0px #888888;
  background-color: #fff;
}
.search-box {
  align-items: center;
}
.search {
  padding-left: 30px !important;
  border-radius: 100px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-right: 50px !important;
  background-color: #e4e6eb !important;
}
.glyphicon-search-box {
  position: relative;
  left: 25px;
}
.black {
  color: black;
  opacity: 0.6;
}
.background {
  margin: 0 10px;
  padding: 10px 10px;
  border-radius: 5px;

  height: 50wh;
  width: 100wh
}
.background:hover {
  background-color: #e4e6eb !important;
}
.center-nav {
  justify-content: center !important;
}
.item-nav {
  padding: 0 30px;
  font-size: 22px;
  list-style: none;
}
.nav-link em {
  color: black;
  opacity: 0.7;
  padding: 5px 20px;
  margin: 0;
  border-radius: 3px;
}
.icon-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.icon-avatar {
  display: flex;
}
.fb-name {
  padding: 0 20px 0 5px;
}
.border-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e4e6eb;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.padding {
  padding: 5px !important;
}
.photo-container {
  margin-bottom: -10px;
  /* background-color: red; */
}
.cover-photo {
  width: 1100px;
  height: 600px;
  border-radius: 10px;
  margin-top: -60px;
}
.edit-cover {
  font-size: 16px;
  width: 170px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  bottom: 50px;
  left: 80%;
  padding: 5px 0;
  font-weight: bold;
  /* align-self: flex-end; */
}
.profile {
  width: 1000px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}
.avt-and-name {
  display: flex;
}
.avatar img {
  width: 175px;
  border-radius: 50%;
  height: 175px;
  border: 4px solid white;
}
.fa-camera {
  font-size: 20px;
}
.fa-plus-square-o {
  font-size: 100px;
}
.change-avatar {
  border-radius: 50%;
  background-color: #e4e6eb;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
  bottom: 55px;
  margin-bottom: -20px;
}
.friend-number {
  font-size: 18px;
}
.friends img {
  width: 35px;
  border-radius: 50%;
  height: 35px;
  margin-right: -10px;
  border: 2px solid white;
}
.add-button {
  flex-direction: column;
}
.add-story {
  color: white;
  background-color: #1b74e4;
}
.edit-pro5 {
  background-color: #f0f2f5;
  color: black;
}
.button {
  font-size: 15px;
  width: 150px;
  height: 36px;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  margin: 7px 0;
  font-weight: bold;
}
.category {
  width: 1000px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.category-item li,
.type-of-post p {
  list-style-type: none;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.7;
  padding: 10px 20px;
}
.setting em {
  font-size: 19px;
  padding: 10px 20px;
}
.setting {
  background-color: #f0f2f5;
  border-radius: 5px;
}
.fb-content {
  width: 1000px;
  /* height: 1000px; */
  border-radius: 5px;
}
.left-content {
  /* max-height: 1000px; */
}
.left-content-infor,
.left-content-photo {
  border-radius: 7px;
  background-color: #fff;
  padding: 5px 15px 10px 15px;
}
.bio p {
  text-align: center;
}
.detail-bio em {
  font-size: 20px !important;
  opacity: 0.8;
}
.album {
  flex-wrap: wrap;
}
.photo-size {
  width: 100%;
  height: 100%;
}
.album-item {
  width: 100%;
  /* height: calc(100%*width); */
  /* margin: 2px; */
}
.status img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.status-post {
  background-color: #f0f2f5;
  border-radius: 25px split;
}
.right-content-post {
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}
.type-of-post em {
  font-size: 22px;
}
.fa-video {
  color: red;
}
.fa-photo-video {
  color: green;
}
.fa-icons {
  color: rgb(0, 179, 255);
}
.setting-view {
  border-radius: 5px;
  background-color: #fff;
  margin-top: 15px;
  padding-bottom: 0px;
}
.filters {
  background-color: #f0f2f5;
  padding: 10px 0px;
  border-radius: 5px;
}
.list-view,
.grid-view {
  border-radius: 5px;
  padding: 5px;
  width: 270px;
}
.list-view:hover,
.grid-view:hover {
  background-color: #f0f2f5;
}
.share-post {
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 15px;
}
.fa-user-friends {
  font-size: 12px;
}
.fa-list {
  font-size: 18px;
}
.status-share {
  flex-direction: column;
}
.status-share img {
  width: 98%;
  border-radius: 5px;
  height: calc(100% * width);
  align-self: center;
}

/* tablet */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .icon-avatar {
    display: none !important;
  }
  .background {
    padding: 0;
  }
  .item-nav {
    padding: 20px;
  }
  .search-box input {
    display: none;
  }
  .glyphicon-search-box {
    width: 35px;
    height: 35px;
    background-color: #e4e6eb;
    border-radius: 50%;
  }
  .cover-photo {
    width: 960px;
    height: 500px;
  }
  .profile {
    width: 900px;
    height: 180px;
  }
  .category {
    width: 900px;
  }
  .add-button {
    flex-direction: row;
  }
  .add-story {
    margin-right: 20px;
  }
}

/* mobile */
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .icon-avatar {
    display: none !important;
  }
  .background {
    padding: 0;
  }
  .search-box input {
    display: none;
  }
  .item-nav {
    padding: 10px;
  }
  .cover-photo {
    width: 700px;
    height: 400px;
  }
  .profile {
    width: 700px;
  }
  .edit-cover p {
    display: none;
  }
  .edit-cover {
    width: 42px;
    padding: 10px 2px 8px 2px;
    left: 90%;
  }
  .category {
    width: 700px;
  }
}
/* small */
@media only screen and (max-width: 719px) {
  .icon-avatar {
    display: none !important;
  }
  .background {
    padding: 0;
  }
  .search-box input {
    display: none;
  }
  .item-nav {
    padding: 5px;
  }
  .cover-photo {
    max-width: 600px;
    max-height: 350px;
  }
  .profile {
    width: 500px;
    flex-direction: column;
    margin-top: -50px;
    padding-bottom: 350px;
  }
  .fb-name h2,
  p {
    margin: 0;
  }
  .category {
    justify-content: space-between;
  }
  .category-container li {
    font-size: 15px;
    padding: 10px 10px;
  }
  .edit-cover p {
    display: none;
  }
  .edit-cover {
    width: 42px;
    padding: 10px 2px 8px 2px;
    left: 90%;
  }
  .avt-and-name {
    flex-direction: column;
  }
  .add-button {
    flex-direction: row;
  }
  .item-nav {
    display: none;
  }
  .setting {
    margin-right: 20px;
    padding: 5px 5px;
  }
  .fb-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add-story,
  .edit-pro5 {
    margin: 5px 4px 0 4px;
  }
  .row {
    max-width: 640px;
  }
  .right-content {
    padding-right: 0;
    margin-left: 0;
    padding-top: 15px !important;
  }
  .album {
    max-width: 640px;
    max-height: 640px;
    flex-direction: column;
  }
  .album img {
    height: 100%;
    width: 100%;
  }
}
