$color-primary: #f04b0b;  
$color-primary-2: #cc562b;  // hover for items
$color-black: #000;
$color-white: #fff;


$gray-222: #222;  
$gray-333: #333;  
$gray-f7f7f7: #f7f7f7;  
$gray-ebebeb: #ebebeb;  
$gray-c4c4c4: #c4c4c4; //border-bottom of dropdown items