*{
    top: 0;
    margin: 0;
    padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --background-color :rgb(48,48,48);
    --background-color-input:#3a3b3c;   
    --color-text:#E8E8E8;
    --background-color:#282828	;
    --background-input:#808080;	
  
}
#menu__header{
    display: flex;
    background-color: var(--background-color);
    height: 30px;
    align-items: center;
    position: fixed;
    position: relative;
    z-index: 1;

}
.menu__Search-left {
    display: flex;
    align-items: center;
    flex-basis: 25%;
   /* background-color: aqua; */
}
.menu__Search-left img{
    width: 25px;
    height: 20px;
    padding-right: 5px;
}
.menu__Search-left input{
    width: 150px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
   background-color: var(--background-color-input);
    font-size: 9px;
}

/* men Center */
.menu__center{
    flex-basis: 60%;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
   
}
.group-img img{
    margin-top: -4px;
    width: 15px;
    margin-right: 20px;
    margin-left: 20px;
     display: row;
     cursor: pointer;
/* border-radius: 50px; */
   align-items: center;
}

 .group-img img:hover{
    background-color: antiquewhite;
  
 }

/* menuRight */
.menu__Right{
  
    flex-basis: 15%; 
}
.img-Right{
    margin-left: 20px;
    margin-top: -4px;
}
.img-icon {
width: 15px;
margin-right: 5px;
cursor: pointer;
}
.img-icon:last-child{
    border-radius: 50px;
}

/*  */
#cover-image{
    text-align: center;
    z-index: 0;
}
#cover-image img{
    object-fit: cover;
    top: -20px;
    position: relative;
}

.iconCamera{
    position: absolute;
    top: 220px;
     margin-left: 430px;
    width: 100px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    background-color: var(--background-color-input);
    align-items: center;
    text-align: center;
   
}
.iconCamera button{
    height: 20px;
    font-size: 9px;
    border: none;
  
   margin: auto;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    background-color: var(--background-color-input);
}
/* name myself */
#name-myself{
    position: relative;
    width: 480px;
    margin: auto;
    /* background-color: aquamarine; */
    height: 60px;
    border-bottom: 1px solid black;
    }
  
  .name-myself-all{
   position: absolute;
   margin-top: -50px;
  
  }
    .name-myself-all{
      display: flex;
      justify-content: space-between;
    }
    .name-myself__text{
      display: flex;
    }
    .name-myself__img{
      display: flex;
    }
    .name-myself__img > img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid black;
    }
    .name{
      margin-top: 30px;
      font-size: 10px;
      margin-left: 10px;
      
    }
    .name p {
     margin-bottom: -1px;
    }
    .name img {
      width: 14px;
      height: 14px;
      margin-left: -4px;
      border-radius: 50px;
    }

    .add__edit-btn{
     margin-top: 35px;
     margin-left: 60px;
     display: flex;
     
    }
  
  .add_tin{
    display: flex;
    align-items: center;
    background-color: blue;
    height: 20px;
    margin-top: 20px;
   border-radius: 3px;
   width: 100px;
   justify-content: center;
    
  }
  .add_tin img{
    width: 10px;
    height: 10px;
    background-color: blue;
   
  }
  .add_tin button{
    height: 20px;
    font-size: 9px;
    border: none;
    outline: none;
   opacity: 1;
    background-color: blue;
  }
  .add_tin:hover{
    opacity: 0.9;
    transition: 0.1s;
  }
  .btn-edit{
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 20px;
    border-radius: 3px;
    width: 130px;
   background-color: var(--background-color-input);
   opacity: 1;
    margin-left: 5px;
    justify-content: center;
  }
  .btn-edit:hover{
    opacity: 0.9;
    transition: 0.1s;
  }
  .btn-edit img{
    width: 10px;
    height: 10px;
  }
  .btn-edit button{
    height: 20px;
    border: none;;
    outline: none;
    font-size: 9px;
    background-color: var(--background-color-input);
  }
  /*  */
  #list-item{
    width: 480px;
    background-color: #3a3b3c;
    justify-content: space-between;
    margin: auto;
    height: 28px;
  
    display: flex;
  }
  .nav-item-links{
    font-size: 8px;
    margin-right: -13px;
     height: 10px;
    
   
  }
  .nav-item-links a{
    color: white;
    font-weight: 700;
  
  }
  .nav-item-links:hover a {
    background-color: #A9A9A9;
    border-radius: 5px;
  }
  .active a{
    border-bottom: 2px solid blue;
 
  }
  .dot-more{
    margin-right: 10px;
    width: 25px;
    height: 15px;
    background-color: #A9A9A9;
    display: flex;
    align-items: center;
   margin-top: 7px;
  border-radius: 5px;
  opacity: 1;
  }
  .dot-more:hover{
    opacity: 0.7;
  }
  .dot-more img{
    margin-left: 5px;
  }
  /*  */
  .ok{
    margin-top: 10px;
  display: flex;
  align-self: flex-end;
  }
  .change-color{
    background-color: var(--background-color);
    margin-left: 112px;
    border-radius: 5px;
    height: 440px;
 width: 200px;
    padding: 0 5px;

}
.change-colorr{
    position: relative;
    margin-left: 70px;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 73px;
   

}
.introduct{
    font-size: 10px;
    font-weight: 700;
    color: white ;
}
.introduct-self p{
    font-size: 8px;
    text-align: center;
    color: white;
}
.edit-self button{
    width: 100%;
    height: 20px;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color: var(--color-text);
    opacity: 1;
}
.edit-self button:hover{
    opacity: 0.7;
}

.notable-edit button{
    margin-top: 10px;
    width: 100%;
    height: 20px;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color: var(--color-text);
    opacity: 1;
}
.notable-edit button:hover{
    opacity: 0.7;
}
.add-like{
    margin-top: 10px;
}
.add-like button{
    opacity: 1;
    width: 100%;
    height: 20px;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color: var(--color-text);
}
.add-like button:hover{
    opacity: 0.7;
}
.edit-self-text{
    padding-top: 5px;
}
.edit-self-text > p{
    font-size: 8px;
    color: #E8E8E8	;
    font-weight: 400;
    margin-bottom: 10px;

}
.edit-self-text p > img{
   width: 10px;
   height: 10px;
   margin-right: 5px;
}

/* carousel  */

.carousel{
    margin-top: 10px;
}
.carousel-inner img{
    width: 59px;
    height: 100px;
}

.self_img{
    margin-top: 10px;
    height: 270px;
}
.self-text{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.self-text a:first-child{
    color: var(--color-text);
    font-size: 10px;
    font-weight: 700;
}
.self-text a:last-child{
    text-decoration: none;
    font-size: 9px;
    font-weight: 400;

}
.img__post{
    margin-top: 10px;

}
.img__post img{
    width: 59px;
    height: 75px;
      padding-bottom: 2px;
    justify-content: space-around;
    opacity: 1;
}
.img__post img:hover{
    opacity: 0.8;
}
.cover_mysefl{
    background-color:#181818 ;
    margin-top: -10px;

}
.self_friends{
    margin-top: 10px;
}
.img-friends{
    display: flex;
    justify-content: space-between;
}
.img-friends-text a{
    color: var(--color-text);

}
.img-friends-text:first-child{
    font-size: 10px;
    color: var(--color-text);
    margin-top: 9px;
    font-weight: 300;
}
.img-friends_all a {
    font-size: 9px; 
    height: 40px;
}
.img-friends_all a:hover{
    background-color: var(--background-input);
    border-radius: 2px;
    line-height: 18px;
}


.status{
margin-right: 100px;
width: 290px;
}
.self__search{
    background-color: var(--background-color);
    height: 65px;
    border-radius: 5px;
}
.self__search-status{
    display:  flex;
}
.self__search-status img{
    width: 20x;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 4px;
    box-sizing: border-box;
    margin-right: 4px;

}
.self__search-status input{
    width: 87%;
     margin-top: 5px;
    height: 20px;
    font-size: 8px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color:white;
   cursor: pointer;

}
.function__of-my{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin-top: 8px;   
    margin-left: 10px;
    margin-right: 10px;
    border-top:1px solid var(--background-input) ;


}
.function-icon{
    display: flex;
    align-items: center;

}
.function-icon img{
    width: 13px;   
}
.function-icon p{
font-size: 7.5px;
color: white;
font-weight: 400;
width: 90px;
height: 23px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
margin: auto;
}
.function-icon p:hover{
    background-color: var(--background-input);
    border-radius: 5px;
}
.managerment-post{
    background-color: var(--background-color);
    height: 55px;
    margin-top: 8px;
    border-radius: 5px;
}

.managerment-status_text p {
    font-size: 9px;
    color: #E8E8E8;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
}
.managerment-status{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--background-input);
    height: 30px;
}
.setting{
    margin-right: 10px;
}
.setting button:first-child{
  width: 40px;
  height: 20px;
}
.setting button:last-child{
  width: 70px;
  height: 20px;
}
.setting img{
    width: 9px;
    height: 9px;

}
.setting button{
    font-size: 7px;
    border: none;
    outline: none;
    color: white;
    background-color: #808080;
    border-radius: 5px;
    height: 20px;
    opacity: 1;
}
.setting button:hover{
  opacity: 0.8;
}
.view__mode{
  margin-top: 3px;
    display: flex;
    justify-content: space-around;
    height: 20px;
    align-items: center;
  
}
.view__mode img{
    width: 10px;
    height: 10px;
}
.view__mode a {
    font-size: 8px;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 130px;
    height: 20px;
    color: white;
    font-weight: 400;
    justify-content: center;
}
.actives{
  border-bottom: 2px solid blue;
}
.actives:hover {
  background-color: var(--background-input);
  border-radius: 5px;

}
.view__mode a:hover {
  background-color: var(--background-input);
  border-radius: 5px;
}