:root{
    --color-text:#E8E8E8;
    --background-color:#282828	;
    --background-input:#808080;	
}
body{
    background-color: black;
}
li{
    list-style-type: none;
}
.set__size{
    background-color: var(--background-color);
    height: 30px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
.search__facebook{
    width: 160px; 
    display: flex;
    align-items: center;
    background-color:var(--background-color);
}
.icon-face img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;
}.icon__search img{
    width: 15px;
    height: 15px;
}
.menu-left{
    display: flex;
    align-items: center;
  
}
.icon__search{

    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 140px;
}
.icon__search input{
    height: 20px;
    font-size: 9px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: var(--background-input);
    color: #E8E8E8;
    width: 140px;
}

/* menu center */

.menu-center{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
}
.change-colorr{
    border-bottom: 1px solid beige;
}
.menu-center__icon img{
    width: 15px;
}
.menu-center__icon p{
  
   margin-top: 5px;
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  
    }
    .menu-center__icon p:hover{
        background-color: var(--background-input);
        border-radius: 5px;
    }
/* menu right */
.menu-right{
    display: flex;
    margin-left: 70px;
    height: 30px;
    display: flex;
    align-items: center;
}
.meu-right_icon a{
display: flex;
align-items: center;
  width: 15px;
  margin-right: 7px;
  height: 16px;
  justify-content: center;

}
.meu-right_icon img{
width: 13px;
 border-radius: 5px;
}
.meu-right_icon:hover a{
    background-color: var(--background-input);
  
    border-radius: 50%;
}
.cover_image img{
    width: 600px;
   display: flex;
margin: auto;
    height: 300px;
   object-fit: cover;
   position: relative;
   top: -30px;
   border-radius: 5px;
 
}
.avatar-friends{
    display: flex;
   
}
.btn-avatar{
    margin-left: 150px;
   margin-top: -10px;
   display: flex;

   }
.btn-avatar button:last-child{
    width: 100px;
    height: 20px;
    background-color: var(--background-input);
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
   opacity: 1;
}
.btn-avatar button:last-child:hover{
    opacity: 0.8;
}
.btn-avatar button:first-child{
    width: 80px;
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    height: 20px;
    background-color:blue ;
    font-weight: 400;
}
.avatar-friends-list img{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin-right: -7px;
    margin-top: -26px;
}
.img-avatar{
    display: flex;
    
}
.btn-avatar button{
    height: 20px;
    display: flex;
    align-items: center;
    width: 75px;
    font-size: 8px;
}
.avatar-text p{
    font-size: 14px;
    color:white;
    font-style: 700;
    margin-top: 30px;
}
.img-avatar_self img{
    width: 100px;
    height: 95px;
    border-radius: 50px;
    border:2px solid var(--background-input);
}
.cover_image{
   position: relative;
    top: -40px;
    z-index: 0;
}
.change-color{
    background-color: var(--background-color);
    margin-left: 70px;
    border-radius: 5px;
    height: 440px;
    width: 100%;
    padding: 0 5px;
   
}
.change-colorr{
    position: relative;
    top: -90px;
 
    margin-left: 70px;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 73px;
   
}
.introduct{
    font-size: 10px;
    font-weight: 700;
    color: white ;
}
.introduct-self p{
    font-size: 9px;
    text-align: center;
    color: white;
}
.edit-self button{
    width: 100%;
    height: 20px;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color: var(--color-text);
    opacity: 1;
}
.edit-self button:hover{
    opacity: 0.7;
}

.notable-edit button{
    margin-top: 10px;
    width: 100%;
    height: 20px;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color: var(--color-text);
    opacity: 1;
}
.notable-edit button:hover{
    opacity: 0.7;
}
.add-like{
    margin-top: 10px;
}
.add-like button{
    opacity: 1;
    width: 100%;
    height: 20px;
    font-size: 9px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color: var(--color-text);
}
.add-like button:hover{
    opacity: 0.7;
}
.edit-self-text{
    padding-top: 5px;
}
.edit-self-text > p{
    font-size: 8px;
    color: #E8E8E8	;
    font-weight: 400;
    margin-bottom: 10px;
   
}
.edit-self-text p > img{
   width: 10px;
   height: 10px;
   margin-right: 5px;
}

/* carousel  */

.carousel{
    margin-top: 10px;
}
.carousel-inner img{
    width: 63px;
    height: 100px;
}

.self_img{
    margin-top: 10px;
    height: 270px;
}
.self-text{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.self-text a:first-child{
    color: var(--color-text);
    font-size: 10px;
    font-weight: 700;
}
.self-text a:last-child{
    text-decoration: none;
    font-size: 9px;
    font-weight: 400;
   
}
/* @keyframes mymove {
    from 
    {
        opacity: 1;
    }
    to
     {
       opacity: 0.5;
    }
  } */

.img__post{
    margin-top: 10px;
    
}
.img__post img{
    width: 63px;
    height: 75px;
      padding-bottom: 2px;
    justify-content: space-around;
    opacity: 1;
}
.img__post img:hover{
    opacity: 0.8;
}
.cover_mysefl{
    background-color:#181818 ;
    margin-top: -10px;
    
}
.self_friends{
    margin-top: 10px;
}
.img-friends{
    display: flex;
    justify-content: space-between;
}
.img-friends-text a{
    color: var(--color-text);

}
.img-friends-text:first-child{
    font-size: 10px;
    color: var(--color-text);
    margin-top: 9px;
    font-weight: 300;
}
.img-friends_all a {
    font-size: 9px; 
    height: 40px;
}
.img-friends_all a:hover{
    background-color: var(--background-input);
    border-radius: 2px;
    line-height: 18px;
}
.status{
margin-left: 47px;
}
.self__search{
    background-color: var(--background-color);
    height: 65px;
    border-radius: 5px;
}
.self__search-status{
    display:  flex;
    
    
   
}
.self__search-status img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 4px;
    box-sizing: border-box;
    margin-right: 4px;

}
.self__search-status input{
    width: 87%;
     margin-top: 5px;
    height: 20px;
    font-size: 9px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #808080	;
    border-radius: 5px;
    color:white;
   cursor: pointer;
 
}
.function__of-my{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin-top: 8px;
    width: 95%;
    margin-left: 10px;
    margin-left: 10px;
    border-top:1px solid var(--background-input) ;
    
    
}
.function-icon{
    display: flex;
    align-items: center;
    margin-top: 9px;

}
.function-icon img{
    width: 17px;   
}
.function-icon p{
font-size: 8px;
color: var(--color-text);
font-size: 500;
width: 100px;
height: 25px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
cursor: pointer;
margin-top: 8px;
}
.function-icon p:hover{
    background-color: var(--background-input);
    border-radius: 5px;
}
.managerment-post{
    background-color: var(--background-color);
    height: 55px;
    margin-top: 8px;
    border-radius: 5px;
}

.managerment-status_text p {
    font-size: 10px;
    color: #E8E8E8;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
}
.managerment-status{
    display: flex;
    justify-content: space-between;
   
    border-bottom: 1px solid var(--background-input);
    height: 30px;
}
.setting{
    margin-right: 10px;
}

.setting img{
    width: 10px;
    height: 10px;
    
}
.setting button{
    font-size: 9px;
    border: none;
    outline: none;
    color: white;
    background-color: #808080;
    border-radius: 5px;
    height: 20px;
   
}
.view__mode{
    display: flex;
    justify-content: space-around;
    height: 20px;
}
.view__mode img{
    width: 10px;
    height: 10px;
    
}
.cover_mysefl{
    height: 350px;
}
.view__mode a {
    margin-top: 3px;
    font-size: 10px;
    text-decoration: none;
   
    align-items: center;
    display: flex;
    width: 159px;
    justify-content: center;
}
.active{
    border-bottom: 2px solid #50c7b9;
}
.active:hover {
    background-color: var(--background-input);
    border-radius: 5px;
   
}
.view__mode a:hover {
    background-color: var(--background-input);
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
   .menu-center {
      display: none
    
    }
    .icon__search{
        display: none;
    }
    .menu-right{
        margin-top: -20px;
        margin-left: 140px;
    
    }
    .cover_image img
    {
        margin-left: -15px;
        width: 245px;
        height:200px;
    }
    .avatar-text{
        margin-top: 65px;
        margin-left: -80px;
      
    }
    .avatar-friends-list{
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        width: 80px;
        margin-left: -20px;
    }
    .btn-avatar{
        margin-left: -130px;
        margin-top: 10px;
       
    }
    .change-colorr{
        border: none;
        
    }
    .change-color{
        margin-left: -15px;
        width: 240px;
    }
    .carousel-item img{
        width: 70px;
    }
    .img__post img{
        width: 70px;
    }
    .status{
        margin-left: -15px;
        width: 268px;

    }
    .function-icon_event{
       display: none;
    }
  }