.img_area{
    background-image: url("ảnh/bia.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    position: relaive; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn_btn-light{
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0 10px; 
    border: 0;
    
}
.rounded-circle{
    width: 150px;
    height: 150px;
    margin-top: -40px;
    border:2px solid white;
    
    
    
}
.name{
    font-size: 20px;
    margin: 10px;
    
}

.col-6 img{
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    float: left;
    
}
#navbar{
    margin-top: 20px;
}
.profile-info{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}
.info-col{
    flex-basis: 33%;
    
}
.post-col{
    flex-basis: 65%;
}
.profile-intro{
    background: rgb(250, 245, 245);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-post{
    background: rgb(250, 245, 245);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.storytelling{
    background: #e4e6eb;
    display: block;
    align-items: center;
    justify-content: center;
    border: 0px;
    width: 100%;
    border-radius: 4px;
    margin: 10px;
}
.profile-intro ul{
    margin-top: 15px;
}

.profile-intro ul li{
    list-style: none;
    margin: 15px 0;
    display: flex;
    align-items: center;

}

.profile-intro ul li img{
    margin-right: 10px;
}

.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.photo-box div img{
    width: 100%;
    cursor: pointer;
}
.friend-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.friend-box div img{
    width: 100%;
    cursor: pointer;
}
.write img{
    width: 50px;
    height: 50px;
    border: 0;
    margin-right: 20px;
    border-radius: 50%;
}
.write{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}
.video{
    margin-top: 10px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.video i{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 5px;
    
    
}
.profile-posts-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}
.profile-posts-bottom{
    border-top: 1px solid black;
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
    









