header{    
    display: grid;    
    background-color: aqua;    
    grid-template-columns: auto auto;
    text-align: center;   
    align-self: center;       
    }
.left{
    display: grid;     
    margin-left: 20px;
    grid-template-columns: 80px 80px 80px 80px 80px ;     
    margin-top:5px ;    
   } 
.right{
    display:grid;        
    grid-template-columns: 80px 80px 80px ;
    margin-right: 50px;
    margin-top:5px ;         
}         
a:hover{background-color: rgba(216, 27, 84, 0.788);  }
header img {
    width: 20px;
    height: 20px;
    }
a span{padding-top: 10px;
        height: 40px;
    }
a{
    text-decoration: none;                
}
.gird-2col{margin-top:  10px; 
    background-color: cadetblue;   
    width: 500px;   
    height: 220px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 200px 290px;
    gap: 10px;
    padding-top:20px;
}

.main-3row{   
   grid-template-rows: 33.3% 33.3% 33.3%;
   margin-top: 10px;
}
.gird-2col img{
    width: 200px;
    height: 200px;
}
.gird-3col{
    width: 920px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
    background-color: darkkhaki; 
    margin: auto; 
    margin-top: 50px;
}

.gird-2row{
    grid-template-rows:300px 300px;
    margin: 20px;
}
.gird-2row img{
    width: 250px;
    height: 200px;
    
}

