@font-face {
  font-family: "Lobster";
  src: url(./Lobster/Lobster-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color-name {
  color: #194e90 !important;
}
.ff-lob {
  font-family: "Lobster", cursive;
}
.text-orange {
  color: #e67833;
}
.small {
  font-size: 80%;
}

.dropdown-menu {
  left: auto !important;
}
.nav li a {
  color: #194e90 !important;
  font-size: 80%;
}
.nav-container {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: 50px;
  min-width: 800px;
}

.navbar {
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 5px 0 #0000005e;
  display: flex;
  justify-content: space-between;
}
.nav-continer {
  display: flex;
  justify-content: space-between;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.program {
  background-color: #f5f5f5;
}
.title {
  padding-bottom: 5px;
  font-size: 26px;
  text-align: center;
  padding: 15px;
}
h2 {
  display: inline;
  border-bottom: 2px solid #f57423;
  padding: 5px;
}
.row {
  max-width: 1140px;
  justify-content: center;
}

.body-row {
  justify-content: center;
  display: flex;
}

.course {
  position: relative;
  border: 2px solid #194e90;
  padding-left: 3rem !important;
  padding: 10px;
}
.logo {
  width: 60px;
  height: 60px;
}
.img-container {
  position: absolute;
  left: -25px;
  background-color: #f5f5f5;
  top: 0;
  padding-top: 15px;
  padding-bottom: 25px;
}
.script {
  font-size: 13px;
}
.col-md-6 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 3rem;
}

@media screen and (min-width: 720px and max-width: 960px) {
  .row {
    max-width: 600px;
  }
}
