:root{
    --text-color:red;
    --text-font-famaly:Arial, Helvetica, sans-serif;
    --text-color2:#DCDCDC;
}
h3{
color:var(--text-color);
font-weight: 600;
font-family:var(--text-font-famaly) ;
}

body{
    background-color: darkgrey;
    background-image: url(bia.jpg);
    Background-repeat: no-repeat ; 
    background-size:100%;
}

.layout{
display: flex;
color: black;
justify-content: space-around;
max-width:600px ;
min-height: 400px;
background:white;
margin-top: 100px;
margin-left: 30%;

}
.layout_left{
  flex-basis:30% ;
  margin-top: 20px;
  padding: 20px 10px 10px 20px; 
   
}
.layout_left-social{
    text-align: center;
    cursor: pointer;
}
.layout_right-textbottom{
    display: flex;
    
}
.button1{
    background-color: green;
   width: 80px;
   height: 30px;
   border: none;
   outline: none;
   border-radius: 3px;
   color: white;
   size: 17px;
}
.button2{
background-color: darkblue;
width: 80px;
   height: 30px;
   border: none  ;
   outline: none;
   border-radius: 3px;
   color: white;
   size: 17px;
}
.layout_right-textbottom1{
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.layout_right-textbottom2{
flex:2;
font-weight: 200;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.layout_left img{
  border-radius: 100px;
  
}
.layout_right{
    flex-basis: 60%;
}
.QA{
 background-color:var( --text-color2) ; 
 width: 120px;
border-radius: 2px;
 left: 0;
 padding: 8px;
 display: none;
 animation: displagrowth ease-in 0.25s;
}
.Qacode img{
  width: 100%;  
  
}
.layout_right-textbottom2:hover .QA{
    display: block;
}

@keyframes displagrowth
{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }

}

.div{
    background-color: red;
    height: 20px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }