.container {
  width: 100%;
  display: block;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.h-max {
  height: 100vh;
}

.tab-container {
  padding: 10px 20px;
  border-radius: 8px;
}

.tab {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.tab:hover {
  background-color: #e9e9e9;
  transition: color 0.3s ease-in-out;
  border-radius: 4px;
}

.tab.active {
  color: #1e5ac8;
}
