/* Reset Css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 html {
     font-family: Arial, Helvetica, sans-serif;
 }

.general {
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.general-header {
    width: 1250px;
}

.slider {
    width: 1250px;
    height: 470px;
    position: relative;
    background: url(/img/slider.jpg) center     ;
    border-radius: 10px;
}

button {
    border-style: none;
    background-color: #fff;
}

.icon {
    font-weight: bolder;
    color: black;
    margin-right: 10px;
}

.btn.btn-primary {
    position: absolute;
    bottom: 30px;
    right: 50px ;
    background-color: aliceblue;
    border-style: groove;
    color: black;
    border-radius: 10px;
    font-weight: bolder;

}

.header {
    display: flex;
    justify-content: center;
}

.avarta {
 height: 15%;
 width: 15%;
 border-style: groove;
 border-width: 4px;
 border-radius: 115px;
 border-color:white;
 margin-left: 33px;
 margin-top: -40px;
}

.properties {
    display: flex;
    position: relative;
}

.name {
    margin-left: 15px;
    margin-top: 20px;
}

.name h2 {
    font-weight: 700;
}

.update {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.btn{
    border-radius: 10px;
    border-style: groove;
    font-weight: bolder;
    margin-left: 12px;
}

.more {
    color: #fff;
    background-color: #1b74e4;
}

.frends {
    margin-top: -10px;
}

.nav-link {
    font-size: 20px !important;
    color: rgba(0,0,0,.9) !important;
    padding-left: 20px !important;
    font-weight:600 !important;
}

.navbar  {
    background-color: #fff !important;
    margin-top: 20px !important;
}

.btn-secondary{
    background-color: #e4e6eb !important;
    color: black !important;
    border-style: none !important;
}

.navbar-light {
    border-top-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

.middle {
    display: flex;
    justify-content: center;
    background-color:hsl(0, 0%, 94%);}

.introduce {
    margin-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #fff;
}

.group_img {
    margin-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #fff;
}

.introduce h4 {
    font-weight: 700;
    font-size: 21px;
    padding-top: 10px;
    padding-left: 20px;
}

.introduce p {
    padding-left: 20px;
}

.home {
    display: flex;
    width: 1190px;

}

.title {
    display: flex;
    padding-top: 5px;
}

.group_img button{
    color:#1b74e4 ;
}

.system {
    background-color: #ccc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.introduce a {
    color:black;
    font-weight: 500;
}

.status {
    margin-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #fff;
}

.write-status { 
    padding-top: 10px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.form-control {
    border-radius: 30px !important;
}

.write-status img {
    margin-right: 20px;
    width: 5%;
    height: 5%;
    border-radius: 32px;
    margin-right: 10px;
}

.img_status {
    border-top-style: solid;
    border-width: 1px;
    padding-top: 20px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.img_status button {
    background-color: #fff;
    font-weight: bolder;
    border-style: none;
    color: black;
    font-weight: 600;
}

.viewmode {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.viewmode-text{
    display: flex;
}

.viewmode-text h3 {
    padding-top: 20px;
}

.viewmode-setting {
    padding-left: 100px;
    padding-top: 20px;
}

.viewmode-setting a {
    color: black;
    font-weight: 600;
    background-color: #ccc;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
}

.regime {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-color: #ccc;
    border-width: 1px;
    display: flex;
}

.col-6 {
    padding: 4px !important;
    background-color: #fff !important;
    border-style: none !important;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.avata {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.avata-text {
    padding-top: 15px;
    display: flex;
    padding-bottom: 10px;
}

.avata-text img {
    width: 6%;
    height: 6%;
    border-radius: 30px;
    margin-left: 20px;
}

.avata-text p {
    padding-left: 5px;
    padding-top: -3px;
}

.avata-text b {
    padding-right:4px ;
} 

.feeling {
    display: flex;
}

.col-4 {
    text-align: center !important;
}

.image {
    object-fit: cover;
  }
  
  .group-image {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  