body {
    background-color: rgb(200,194,245);
    background-image: url("anh-nen-cua-hacker_013826048.jpg"); 
}

.navbar {
    height: 100px;
    background-color: aqua;
    padding: 0 80px 0 80px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.right {
    margin-left: auto;
}

.image-logo {
    width: 30%;
}

.image-home {
    width: 40%;
}

i{
    float: right
}

.new {
    width: 50%;
    height: 200px;
    background-color: azure;
    margin-top: 30px;
    /* padding: 30px; */
    display: flex;
    overflow: hidden;
}


.imgcontent {
margin: 25px;
  
}


.container {
    padding: 20px;
    width: 35%;
}


.head {
    color: #2d67ad;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}


.title {
    color: #2a2a2a;
    font-family: notosans-bold;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-transform: capitalize;
}

.description {
    color: #6c6c6c;
    font-family: arial;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
    overflow: hidden;
}


.description::first-letter {
    text-transform: uppercase; 
}

.content {
    margin: 25px;
    font-family: serif;
}